html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

/* ================= HOME ================= */

#home-body{
    background-color:black;
}

#home-centermarker{
    width:10px;
    height:10px;
    background-color: white;

    position: fixed;

    top:calc(50dvh - 5px);
    left:calc(50dvw - 5px);
}

.home-orbcontainer{
    height:100px;
    width:100px;

    transform: translate(-50%, -50%);
    position: absolute;
    
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;
}

.home-orbimage{
    width:75%;

    transform: translate(-50%, -50%);
    position:absolute;
    left:50%;
    top:50%;
    z-index: 11;
}

.home-orbback{
    width:100%;
    height:100%;
    border-radius:200px;

    position:absolute;
    z-index: 10;

    background-image: url(assets/home/home-roughback.png);
    background-size: 100px;
}

.home-orbdesc{
    width:170px;
    height:100px;

    transform: translate(-50%, -50%);
    position:absolute;
    z-index: 9;
    left:50%;
    top:50%;

    opacity:0%;

    transition: opacity 1s, top 1s, left 1s;
}

.home-orbdeschead{
    color:white;
    font-size:3em;
    font-weight:bold;
}

.home-orbdescsubhead{
    color:white;
    font-size:1em;
}

/* Orb Stuff */

#home-orb0000{
    top:-250px;
    animation-name:home-orbenter0000;
}

@keyframes home-orbenter0000{
    0% {top:0px; opacity:0%}
    100% {top:-250px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0000{
    opacity:100%;
    top:160%;
}



#home-orb0130{
    top:-200px;
    left:200px;
    animation-name:home-orbenter0130;
    animation-delay:0.1s;
}

@keyframes home-orbenter0130{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:-200px; left:200px; opacity:100%}
}

#home-orb0300{
    top:0px;
    left:300px;
    animation-name:home-orbenter0300;
    animation-delay:0.2s;
}

@keyframes home-orbenter0300{
    0% {left:0px; opacity:0%}
    100% {left:300px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0300{
    opacity:100%;
    left:-80%;
}

#home-orb0430{
    top:200px;
    left:200px;
    animation-name:home-orbenter0430;
    animation-delay:0.3s;
}

@keyframes home-orbenter0430{
    0% {top:0px; left:0px; opacity:0%}
    100% {top: 200px; left:200px; opacity:100%}
}


#home-orb0600{
    top:250px;
    left:0px;
    animation-name:home-orbenter0600;
    animation-delay:0.4s;
}

@keyframes home-orbenter0600{
    0% {top:0px; opacity:0%}
    100% {top:250px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0600{
    opacity:100%;
    top:-60%;
}


#home-orb0730{
    top:200px;
    left:-200px;
    animation-name:home-orbenter0730;
    animation-delay:0.5s;
}

@keyframes home-orbenter0730{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:200px; left:-200px; opacity:100%}
}

#home-orb0900{
    top:0px;
    left:-300px;
    animation-name:home-orbenter0900;
    animation-delay:0.6s;
}

@keyframes home-orbenter0900{
    0% {left:0px; opacity:0%}
    100% {left:-300px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0900{
    opacity:100%;
    left:200%;
}

#home-orb1030{
    top:-200px;
    left:-200px;
    animation-name:home-orbenter1030;
    animation-delay:0.7s;
}

@keyframes home-orbenter1030{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:-200px; left:-200px; opacity:100%}
}