html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'molot';
    src: url('assets/fonts/molot.regular.woff2') format('woff2'),
         url('assets/fonts/molot.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ================= HOME ================= */

#home-body{
    background-color:black;
    background-image:url(assets/home/discordback.png);
    background-size: 100dvh;
}

#home-centermarker{
    width:10px;
    height:10px;

    position: fixed;

    top:calc(50dvh - 5px);
    left:calc(50dvw - 5px);
}

.home-orbcontainer{
    height:120px;
    width:120px;

    transform: translate(-50%, -50%);
    position: absolute;
    
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;

    filter:drop-shadow(3px 3px 2px rgb(0, 0, 0));
}

.home-orbimage{
    width:90%;

    transform: translate(-50%, -50%);
    position:absolute;
    left:50%;
    top:50%;
    z-index: 11;

    filter:drop-shadow(3px 3px 2px rgb(0, 0, 0))
}

.home-orbback{
    width:100%;
    height:100%;
    border-radius:200px;

    position:absolute;
    z-index: 10;

    background-size: 100px;
    

    animation-name: home-orbbacktest;
    animation-duration:120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes home-orbbacktest{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.home-orbdesc{
    width:170px;
    height:100px;

    transform: translate(-50%, -50%);
    position:absolute;
    z-index: 9;
    left:50%;
    top:50%;

    opacity:0%;

    transition: opacity 0.5s, top 0.5s, left 0.5s;
}

.home-orbdeschead{
    font-family: 'molot';
    color:white;
    font-size:3em;
    font-weight:bold;
}

.home-orbdescsubhead{
    color:white;
    font-size:0.9em;
    font-style: italic;
}

/* ? ================== Orb Stuff ================== ? */

#home-orb0000{
    top:-250px;
    animation-name:home-orbenter0000;
}

@keyframes home-orbenter0000{
    0% {top:0px; opacity:0%}
    100% {top:-250px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0000{
    opacity:100%;
    top:160%;
}


#home-orb0130{
    top:-200px;
    left:215px;
    animation-name:home-orbenter0130;
    animation-delay:0.1s;
}

@keyframes home-orbenter0130{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:-200px; left:215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0130{
    opacity:100%;
    left:-50%;
    top:140%;
}


#home-orb0300{
    top:0px;
    left:300px;
    animation-name:home-orbenter0300;
    animation-delay:0.2s;
}

@keyframes home-orbenter0300{
    0% {left:0px; opacity:0%}
    100% {left:300px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0300{
    opacity:100%;
    left:-80%;
}

#home-orb0430{
    top:195px;
    left:215px;
    animation-name:home-orbenter0430;
    animation-delay:0.3s;
}

@keyframes home-orbenter0430{
    0% {top:0px; left:0px; opacity:0%}
    100% {top: 195px; left:215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0430{
    opacity:100%;
    left:-60%;
    top:-30%;
}


#home-orb0600{
    top:250px;
    left:0px;
    animation-name:home-orbenter0600;
    animation-delay:0.4s;
}

@keyframes home-orbenter0600{
    0% {top:0px; opacity:0%}
    100% {top:250px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0600{
    opacity:100%;
    top:-60%;
}


#home-orb0730{
    top:195px;
    left:-215px;
    animation-name:home-orbenter0730;
    animation-delay:0.5s;
}

@keyframes home-orbenter0730{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:195px; left:-215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0730{
    opacity:100%;
    left:160%;
    top:-40%;
}

#home-orb0900{
    top:0px;
    left:-300px;
    animation-name:home-orbenter0900;
    animation-delay:0.6s;
}

@keyframes home-orbenter0900{
    0% {left:0px; opacity:0%}
    100% {left:-300px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0900{
    opacity:100%;
    left:200%;
}

#home-orb1030{
    top:-200px;
    left:-215px;
    animation-name:home-orbenter1030;
    animation-delay:0.7s;
}

@keyframes home-orbenter1030{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:-200px; left:-215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc1030{
    opacity:100%;
    left:160%;
    top:140%;
}