html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'molot';
    src: url('assets/fonts/molot.regular.woff2') format('woff2'),
         url('assets/fonts/molot.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* ================= HOME ================= */

#home-body{
    background-color:black;
    background-image:url(assets/home/discordback.png);
    background-size: 100dvh;
}

#home-centermarker{
    width:10px;
    height:10px;

    position: fixed;

    top:calc(50dvh - 5px);
    left:calc(50dvw - 5px);
}

.home-orbcontainer{
    height:120px;
    width:120px;

    transform: translate(-50%, -50%);
    position: absolute;
    
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;

    filter:drop-shadow(6px 6px 2px rgb(0, 0, 0));
}

.home-orbimage{
    width:90%;

    transform: translate(-50%, -50%);
    position:absolute;
    left:50%;
    top:50%;
    z-index: 11;

    filter:drop-shadow(3px 3px 2px rgb(0, 0, 0))
}

.home-orbback{
    width:100%;
    height:100%;
    border-radius:200px;

    position:absolute;
    z-index: 10;

    background-size: 100px;
    

    animation-name: home-orbbacktest;
    animation-duration:120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes home-orbbacktest{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.home-orbdesc{
    width:170px;
    height:100px;

    transform: translate(-50%, -50%);
    position:absolute;
    z-index: 9;
    left:50%;
    top:50%;

    opacity:0%;

    transition: opacity 0.5s, top 0.5s, left 0.5s;
}

.home-orbdeschead{
    font-family: 'molot';
    color:white;
    font-size:3em;
    font-weight:bold;
}

.home-orbdescsubhead{
    color:white;
    font-size:0.9em;
    font-style: italic;
}

/* ================== Orb Stuff ================== */

#home-orb0000{
    top:-250px;
    animation-name:home-orbenter0000;
}

@keyframes home-orbenter0000{
    0% {top:0px; opacity:0%}
    100% {top:-250px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0000{
    opacity:100%;
    top:160%;
}


#home-orb0130{
    top:-200px;
    left:215px;
    animation-name:home-orbenter0130;
    animation-delay:0.1s;
}

@keyframes home-orbenter0130{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:-200px; left:215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0130{
    opacity:100%;
    left:-50%;
    top:140%;
}


#home-orb0300{
    top:0px;
    left:300px;
    animation-name:home-orbenter0300;
    animation-delay:0.2s;
}

@keyframes home-orbenter0300{
    0% {left:0px; opacity:0%}
    100% {left:300px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0300{
    opacity:100%;
    left:-80%;
}

#home-orb0430{
    top:195px;
    left:215px;
    animation-name:home-orbenter0430;
    animation-delay:0.3s;
}

@keyframes home-orbenter0430{
    0% {top:0px; left:0px; opacity:0%}
    100% {top: 195px; left:215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0430{
    opacity:100%;
    left:-60%;
    top:-30%;
}


#home-orb0600{
    top:250px;
    left:0px;
    animation-name:home-orbenter0600;
    animation-delay:0.4s;
}

@keyframes home-orbenter0600{
    0% {top:0px; opacity:0%}
    100% {top:250px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0600{
    opacity:100%;
    top:-60%;
}


#home-orb0730{
    top:195px;
    left:-215px;
    animation-name:home-orbenter0730;
    animation-delay:0.5s;
}

@keyframes home-orbenter0730{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:195px; left:-215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0730{
    opacity:100%;
    left:160%;
    top:-40%;
}

#home-orb0900{
    top:0px;
    left:-300px;
    animation-name:home-orbenter0900;
    animation-delay:0.6s;
}

@keyframes home-orbenter0900{
    0% {left:0px; opacity:0%}
    100% {left:-300px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0900{
    opacity:100%;
    left:200%;
}

#home-orb1030{
    top:-200px;
    left:-215px;
    animation-name:home-orbenter1030;
    animation-delay:0.7s;
}

@keyframes home-orbenter1030{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:-200px; left:-215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc1030{
    opacity:100%;
    left:160%;
    top:140%;
}



/* ? █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  */

/* ? █ █ █ █ █ █ █ █  B L O G  █ █ █ █ █ █ █ █  */

/* ? █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  */

#blogselect-body{
    background-image:url(assets/blog/selector/starback.gif);
}

#blogselect-window{
    width: 400px;

    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    
    display: flex;
    flex-direction: column;

    background-color: #c0c0c0;
    border: ridge;
    border-color: #c0c0c0;
    border-width: 10px;
}

#blogselect-titlebar{
    height:50px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
    color:white;

    border-bottom: ridge;
    border-color: #c0c0c0;
    border-width: 10px;

    font-size: 1.6em;
    font-weight: bold;
}

#blog-selectbutton{
    height:75px;

    display:flex;
    justify-content: center;
    align-items: center;

    color:white;
    font-size:2em;
    font-weight:bold;
    text-shadow: 2px 2px black;
    text-decoration: none;

    border-bottom: ridge;
    border-color: #c0c0c0;
    border-width: 5px;

    box-shadow: inset 2px 2px 20px 10px #131313;
    transition: all 0.3s;
}

#blog-selectbutton:hover{
    filter:hue-rotate(90deg) saturate(150%);
    box-shadow: inset 1px 1px 20px 5px #ffffff;
}






#blog-body{
    height:100dvh;

    background-color: #00398b;
    background-image: url(assets/blog/tempback.png);
}

#blog-main{
    min-width:790px;
    width:70dvw;
    max-width:875px;
    height:400%;

    margin-left:auto;
    margin-right:auto;
    margin-top:30px;

    background-color: antiquewhite;
}

#blog-controls{
    width:auto;
    height:50px;
    
    top:0;
    position: sticky;

    z-index: 20;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #c0c0c0;
    border: ridge;
    border-color: #c0c0c0;
    border-width: 5px;

    background-color:rgba(0, 0, 0, 0.7);
}

#blog-controls a{
    cursor: pointer;
    user-select: none;

    border:outset;
    border-width: 3px;
    border-radius: 100px;

    display:flex;
    align-items: center;
    justify-content: center;

    height:25px;
    margin-left:5px;

    padding-left:8px;
    padding-right:8px;
}

#blog-controls a:hover{
    border:inset;
    border-width: 3px;
}

#bc-sortbutton{
    background-color: aqua;
    border-color: aqua !important;
}

#bc-gamefilter{
    background-color: #e6a4ff;
    border-color: #e6a4ff !important;
}

#bc-moviestvfilter{
    background-color: #a4ffd7;
    border-color: #a4ffd7 !important;
}

#bc-musicfilter{
    background-color: #a4ebff;
    border-color: #a4ebff !important;
}

#bc-ramblingfilter{
    background-color: #fff5a4;
    border-color: #fff5a4 !important;
}

#bc-filterreset{
    background-color: #ffa4a4;
    border-color: #ffa4a4 !important;
}



#bc-topicfiltercont a{
    height:25px;

    display:flex;
    align-items: center;
    justify-content: center;

    border:outset;
    border-width: 3px;
    border-radius: 100px;
}




#blog-entrycont{
    display:flex;
    flex-direction:column;
}

#blog-entry{

    border: ridge;
    border-color: #c0c0c0;
    border-width: 5px;

    color:white;
}

#be-headercont{
    width:100%;
    height:70px;
}

#be-bannercont{
    height:100%;
    position: relative;

    border-bottom: ridge;
    border-color: #c0c0c0;
    border-width: 5px;
}

#be-bannertextcont{
    width:100%;
    height:100%;
    position: absolute;

    z-index: 11;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#be-bannertitle, #be-bannerdesccont{
    margin-left:10px;
    margin-right:10px;
}

#be-bannertitle{
    font-family: 'molot';
    font-size:3em;

    filter:drop-shadow(6px 6px 2px rgb(0, 0, 0));
}

#be-bannerdesccont h2{
    font-family: Arial, Helvetica, sans-serif;

    font-size:1.1em;
    text-align: right;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

#be-bannerback{
    width:100%;
    height:100%;
    background-image: url(assets/blog/banners/unbeatable.gif);
    background-size: 100%;

    z-index: 10;

    filter:saturate(0.5) brightness(0.5);
}

#be-body{
    background-color: black;
    padding:10px;
}

#be-bodytext{
    font-size:1.1em;
}

#be-footer{
    display:flex;
    justify-content: space-between;
    padding:5px;
    background-color: black;
    font-size:1em;

    color: rgb(111, 111, 111);
}

#be-categories{
    display:flex;
    column-gap: 5px;
}

.be-games{
    background-color:magenta;
    display:block;
}

.be-moviestv{
    background-color:red;
}

.be-music{
    background-color: lightblue;
}

.be-rambling{
    background-color: purple;
}


/* * ========= BBAD!!! ============ */
/* * ========= BBAD!!! ============ */
/* * ========= BBAD!!! ============ */


#bbad-body{
    height:100dvh;
    background-color: yellow;
}

#bbad-main{
    min-width:790px;
    width:70dvw;
    max-width:875px;

    margin-left:auto;
    margin-right:auto;
}

.bbad-entrycont{
    border:solid #00502e 7px;

    margin-bottom: 40px;
}

.bbad-entry{
    background-color: #00502e;

    position: relative;

    border:solid white 7px;

    padding:10px;

    color:rgb(255, 255, 255);
}

.bbad-episodenumber{
    opacity: 50%;
    font-size:1.2em;
}

.bbad-datestamp{
    position: absolute;
    bottom: 10px;
    right:10px;

    opacity: 50%;

    text-align: right;
}


.bbad-entryheader{
    font-size:2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;



    margin-bottom: 10px;
}

.bbad-maintext{
    font-size:1.2em;
    margin-bottom:20px;
}

.bbad-maintext ul{
    font-size:1.2em;
    margin-bottom:20px;
}


/* & ===== HISTORY ====== */
/* & ===== HISTORY ====== */
/* & ===== HISTORY ====== */


#history-body{
    min-height:100dvh;
    background-image: url(assets/history/spaceback.gif);
    
    font-size:1.2em;
}

#history-main{
    min-width:790px;
    width:70dvw;
    max-width:875px;

    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
}

#history-main div{
    margin-top:20px;
    margin-bottom:10px;
}

#history-text1{
    background-color: #21033B;
    border-style: inset;
    border-width: thick;
    border-color: #200569;
    height: 100%;
    color: aquamarine;
    padding:10px;
}

#history-text1 a{
    color: aquamarine;
}

#history-cont1{
    margin-bottom:200px !important;
}

.history-fullimg{
    width:80%;

    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    margin-bottom:10px;
}

#history-textcont2{
    background-color: white;
    border: ridge;
    border-color: #c0c0c0;
    border-width: 10px;
    padding:10px;
}

#history-v2iconcont{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#history-cont2{
    margin-bottom:200px !important;
}


#history-text3{
    background-color: #fff5a4;
    border: ridge;
    border-color: #fff5a4;
    border-width: 10px;
    padding:10px;
    padding:10px;
    font-family: 'Brush Script MT', cursive;
}