/* 

- accessibility pass
- history improvement?
- beta test with bailey?
- typo pass
- rest of blog entries

*/



html, body, div, span, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, a, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section {
    /* Cancel out some differences between browser defaults */
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}

@font-face {
    font-family: 'molot';
    src: url('assets/fonts/molot.regular.woff2') format('woff2'),
         url('assets/fonts/molot.regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* =============== FOOTER ============== */
/* =============== FOOTER ============== */
/* =============== FOOTER ============== */

footer{
    position:fixed;
    width:100%;
    height:20px;

    z-index: 99;
    bottom:0;

    background-color: #c0c0c0;;

    border-top: ridge;
    border-color: #c0c0c0;
    border-width: 5px;

    display:flex;
    flex-direction:row;
    justify-content:center;
}

#footer-marq{
    background-color:black;
    text-shadow: 0 0 4px;

    width:50%;

    border-left: ridge;
    border-right: ridge;
    border-color: #c0c0c0;
    border-width: 5px;
}

.footer-link{
    border-right: ridge;
    border-color: #c0c0c0;
    border-width: 5px;
    transition: 0.3s all;
    
    font-weight: bold;

    user-select:none;
}

.footer-link:hover{
    filter:hue-rotate(100deg);
}

.footer-link a{
    margin: 0 5px 0 5px;
}

#footer-audio{
    display:none;
}

#footer-playpausecont{
    background-color: #a4ffd7;
    width:70px;
    cursor:pointer;
    text-align:center;
}

#footer-volchangercont{
    background-color: #00ffff;
    cursor:pointer;
}

#footer-infocont{
    background-color: #ffa4a4;
    cursor:pointer;
}

#footer-grazuman{
    height:72px;
    width:100px;

    position:fixed;
    bottom:23px;
    right:1px;
    background-image: url(assets/footer/grazuman.gif);
    background-size:100px;

    background-repeat:no-repeat;

    filter:invert(100%) opacity(25%);
}

#footer-grazuman:hover{
    background-image: url(assets/footer/grazumanw.gif);
}

/* ================= HOME ================= */

/* ================= HOME ================= */

/* ================= HOME ================= */

#home-body{
    height:100dvh;
    width:100dvw;
    background-color:black;
    background-image:url(assets/home/homeback.png);
    background-size: 100dvw 100dvh;
}

#home-centermarker{
    width:10px;
    height:10px;

    position: fixed;

    top:calc(50dvh - 5px);
    left:calc(50dvw - 5px);
}

.home-orbcontainer{
    height:120px;
    width:120px;

    transform: translate(-50%, -50%);
    position: absolute;
    
    animation-duration:1s;
    animation-iteration-count: 1;
    animation-fill-mode:backwards;

    filter:drop-shadow(6px 6px 2px rgb(0, 0, 0));
}

.home-orbimage{
    width:90%;

    transform: translate(-50%, -50%);
    position:absolute;
    left:50%;
    top:50%;
    z-index: 11;

    filter:drop-shadow(3px 3px 2px rgb(0, 0, 0))
}

.home-orbback{
    width:100%;
    height:100%;
    border-radius:200px;

    position:absolute;
    z-index: 10;

    background-size: 100px;
    

    animation-name: home-orbback;
    animation-duration:120s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes home-orbback{
    0% {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}

.home-orbdesc{
    width:170px;
    height:100px;

    transform: translate(-50%, -50%);
    position:absolute;
    z-index: 9;
    left:50%;
    top:50%;

    opacity:0%;

    transition: opacity 0.5s, top 0.5s, left 0.5s;
}

.home-orbdeschead{
    font-family: 'molot';
    color:white;
    font-size:3em;
    font-weight:bold;
}

.home-orbdescsubhead{
    color:white;
    font-size:0.9em;
    font-style: italic;
}

/* ================== Orb Stuff ================== */

#home-orb0000{
    top:-250px;
    animation-name:home-orbenter0000;
}

@keyframes home-orbenter0000{
    0% {top:0px; opacity:0%}
    100% {top:-250px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0000{
    opacity:100%;
    top:160%;
}


#home-orb0130{
    top:-200px;
    left:215px;
    animation-name:home-orbenter0130;
    animation-delay:0.1s;
}

@keyframes home-orbenter0130{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:-200px; left:215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0130{
    opacity:100%;
    left:-50%;
    top:140%;
}


#home-orb0300{
    top:0px;
    left:300px;
    animation-name:home-orbenter0300;
    animation-delay:0.2s;
}

@keyframes home-orbenter0300{
    0% {left:0px; opacity:0%}
    100% {left:300px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0300{
    opacity:100%;
    left:-80%;
}

#home-orb0430{
    top:195px;
    left:215px;
    animation-name:home-orbenter0430;
    animation-delay:0.3s;
}

@keyframes home-orbenter0430{
    0% {top:0px; left:0px; opacity:0%}
    100% {top: 195px; left:215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0430{
    opacity:100%;
    left:-60%;
    top:-30%;
}


#home-orb0600{
    top:250px;
    left:0px;
    animation-name:home-orbenter0600;
    animation-delay:0.4s;
}

@keyframes home-orbenter0600{
    0% {top:0px; opacity:0%}
    100% {top:250px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0600{
    opacity:100%;
    top:-60%;
}


#home-orb0730{
    top:195px;
    left:-215px;
    animation-name:home-orbenter0730;
    animation-delay:0.5s;
}

@keyframes home-orbenter0730{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:195px; left:-215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0730{
    opacity:100%;
    left:160%;
    top:-40%;
}

#home-orb0900{
    top:0px;
    left:-300px;
    animation-name:home-orbenter0900;
    animation-delay:0.6s;
}

@keyframes home-orbenter0900{
    0% {left:0px; opacity:0%}
    100% {left:-300px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc0900{
    opacity:100%;
    left:200%;
}

#home-orb1030{
    top:-200px;
    left:-215px;
    animation-name:home-orbenter1030;
    animation-delay:0.7s;
}

@keyframes home-orbenter1030{
    0% {top:0px; left:0px; opacity:0%}
    100% {top:-200px; left:-215px; opacity:100%}
}

.home-orbcontainer:hover #home-orbdesc1030{
    opacity:100%;
    left:160%;
    top:140%;
}

#homem-body{
    display:none;
}

#homem-topbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    background-color: white;


    font-size:1.4em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;

    filter:drop-shadow(0px 2px 10px rgb(0, 0, 0, 0.5));
    
}  

#homem-main{
    display:flex;
    flex-direction: column-reverse;

    overflow:scroll;
}

#homem-spacer{
    height:20px;
    flex-shrink: 0;
}

#homem-decaspacer{
    height:300px;
    flex-shrink: 0;
}

#homem-textfrom{
    border:20px solid transparent;
    border-image:url(assets/home/textborderfrom.png) 40 round;

    width:70%;
}

#homem-textto{
    border:20px solid transparent;
    border-image:url(assets/home/textborderto.png) 40 round;

    width:70%;
    margin-left:calc(30% - 40px)
}

#homem-textext{
    color:white;
    font-size:0.9em;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#homem-textfrom #homem-textext{
    background-color: #c840e1;
}

#homem-textto #homem-textext{
    background-color: #e1c840;
}

#homem-bottombar{
    background-color:rgb(210, 210, 210);

    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-around;
}

#homem-pluscont{
    position:relative;
}

#homem-plusplus{
    z-index: 11;
    position:absolute;

    font-size:2em;
    font-weight:bolder;
    color:#c840e1;

    top: -19px;
    left: -2px;
}

#homem-plusback{
    position:absolute;
    z-index: 10;
    border:2px solid #c840e1;
    border-radius: 100px;

    height:25px;
    width:25px;

    top: -13px;
    left: -8px;
}

#homem-message{
    height:80%;
    width:80%;
    border-radius: 100px;
    background-color: white;

    color:lightgray;
    font-style:italic;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

/* 🪤🪤SMALL MODE🪤🪤 */
/* 🪤🪤SMALL MODE🪤🪤 */
/* 🪤🪤SMALL MODE🪤🪤 */


@media screen and (max-width: 800px) {
    #home-body{
        display:none;
    }

    #homem-body{
        width:100%;
        height:100dvh;
        display:grid;
        grid-template-rows: 45px auto 40px;

    }
}




/* ? █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  */

/* ? █ █ █ █ █ █ █ █  B L O G  █ █ █ █ █ █ █ █  */

/* ? █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █  */

#blogselect-body{
    background-image:url(assets/blog/selector/starback.gif);
}

#blogselect-window{
    width: 400px;

    position: absolute;
    top: 25%;
    left: 0;
    right: 0;
    margin: auto;
    
    display: flex;
    flex-direction: column;

    background-color: #c0c0c0;
    border: ridge;
    border-color: #c0c0c0;
    border-width: 10px;
}

#blogselect-titlebar{
    height:50px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: blue;
    color:white;

    border-bottom: ridge;
    border-color: #c0c0c0;
    border-width: 10px;

    font-size: 1.6em;
    font-weight: bold;
}

#blog-selectbutton{
    height:75px;

    display:flex;
    justify-content: center;
    align-items: center;

    color:white;
    font-size:2em;
    font-weight:bold;
    text-shadow: 2px 2px black;
    text-decoration: none;

    border-bottom: ridge;
    border-color: #c0c0c0;
    border-width: 5px;

    box-shadow: inset 2px 2px 20px 10px #131313;
    transition: all 0.3s;
}

#blog-selectbutton:hover{
    filter: saturate(200%);
    box-shadow: inset 1px 1px 20px 5px #ffffff;
}






#blog-body{
    height:100dvh;

    background-color: #00398b;
    background-image: url(assets/blog/blogback.png);
}

#blog-main{
    min-width:790px;
    width:70dvw;
    max-width:875px;
    min-height:100%;

    margin-left:auto;
    margin-right:auto;
    margin-top:30px;

    background-color: rgb(0, 0, 0, 0.5);
}

#blog-controls{
    width:auto;
    height:50px;
    
    top:0;
    position: sticky;

    z-index: 20;

    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #c0c0c0;
    border: ridge;
    border-color: #c0c0c0;
    border-width: 5px;

    background-color:rgba(0, 0, 0, 0.5);
}

#blog-controls a{
    cursor: pointer;
    user-select: none;

    border:outset;
    border-width: 3px;
    border-radius: 100px;

    display:flex;
    align-items: center;
    justify-content: center;

    height:25px;
    margin-left:5px;

    padding-left:8px;
    padding-right:8px;
}

#blog-controls a:hover{
    border:inset;
    border-width: 3px;
}

#bc-sortbutton{
    background-color: aqua;
    border-color: aqua !important;
}

#bc-gamefilter{
    background-color: #e6a4ff;
    border-color: #e6a4ff !important;
}

#bc-moviestvfilter{
    background-color: #a4ffd7;
    border-color: #a4ffd7 !important;
}

#bc-musicfilter{
    background-color: #a4ebff;
    border-color: #a4ebff !important;
}

#bc-ramblingfilter{
    background-color: #fff5a4;
    border-color: #fff5a4 !important;
}

#bc-filterreset{
    background-color: #ffa4a4;
    border-color: #ffa4a4 !important;
}



#bc-topicfiltercont a{
    height:25px;

    display:flex;
    align-items: center;
    justify-content: center;

    border:outset;
    border-width: 3px;
    border-radius: 100px;
}




#blog-entrycont{
    display:flex;
    flex-direction:column;
}

#blog-entry{

    border: ridge;
    border-color: #c0c0c0;
    border-width: 5px;

    color:white;

    margin-bottom:10px;
}

#be-headercont{
    width:100%;
    height:140px;
}

#be-bannercont{
    height:100%;
    position: relative;

    border-bottom: ridge;
    border-color: #c0c0c0;
    border-width: 5px;

    
}

#be-bannertextcont{
    width:100%;
    height:100%;
    position: absolute;

    z-index: 11;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#be-bannertitle, #be-bannerdesccont{
    margin-left:10px;
    margin-right:10px;
}

#be-bannertitle{
    font-family: 'molot';
    font-size:2.5em;

    filter:drop-shadow(6px 6px 2px rgb(0, 0, 0));

}

#be-bannerdesccont h2{
    font-family: Arial, Helvetica, sans-serif;

    font-size:1.1em;
    text-align: right;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

#be-bannerback{
    width:100%;
    height:100%;
    
    background-size: 100%;

    z-index: 10;

    filter:saturate(0.8) brightness(0.8);
}

#be-body, #be-bodydouble{
    background-color: black;
    padding:12px;
}

#be-bodydouble{
    margin-top:150px;
}

#be-bodytext{
    font-size:1.1em;
}

#be-footer{
    display:flex;
    justify-content: space-between;
    padding:5px;
    background-color: black;
    font-size:1em;

    color: rgb(111, 111, 111);
}

#be-categories{
    display:flex;
    column-gap: 5px;
}

#be-screenshot{
    width:60%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
    display:block;
}

#blog-bottomspinnercont{
    width:100%;
    height:300px;

    display:flex;
    justify-content: center;
    align-items:center;
}

#blog-bottomspinner{
    width:10%;

    animation-name: home-orbback;
    animation-duration:30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    filter:opacity(70%);
}

#IMAGE_DELTAPORTAL{
    height:200px;
    display:block;
    margin-left:auto;
    margin-right:auto;
}




/*?  ======= MUSIC  ============ */
/*?  ======= MUSIC  ============ */
/*?  ======= MUSIC  ============ */

#music-body{
    background-color: #6caa93;
    background-image: url(assets/music/glassback.jpg);
}

#music-main{
    display:grid;
    grid-template-columns: 200px 800px;
    grid-template-rows: 130px auto;
    width:1000px;
   
    min-height:100dvh;
    margin-left:auto;
    margin-right:auto;
}

#music-banner{
    grid-column-start: 1;
    grid-column-end: 3;

    width:100%;
}

#music-nav{
    background-color: #7fa898;

    display:flex;
    flex-direction:column;

    row-gap: 15px;

    padding:15px;
}

#music-nav hr{
    width:90%;
    height:5px;
    background-color: #6caa93;
}

.music-navlink{
    font-size:2em;
}

#music-content{
    background-color: #c3ece6;

    padding:10px;
}

.music-subhead{
    font-size: 2.5em;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.music-maintext{
    font-size:1.1em;
}

#music-gifparty{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    margin-left:20px;
}

#music-gifparty img{
    width: 200px;
}

.music-list{
    list-style-position: inside;
    font-size:1.1em;
}

.music-list li{
    margin-bottom: 10px;
}

.music-compcont{
    display:grid;
    grid-template-columns:auto 220px;

    padding-bottom: 40px;
}

.music-comptable{
    width:210px;
    border-top:5px double rgb(255, 255, 255);
    border-left:5px double rgb(255, 255, 255);
    border-right:5px double rgb(255, 255, 255);
    color:white;
    background-color: #000000;

}

.music-tabheader{
    font-size:1.3em;

    text-align: center;
    padding-bottom:2px;
    border-bottom:5px double white;

}

.music-tabimage{
    width:100%;
    border-bottom:5px double white;
}

.music-tabtext{
    width:100%;
    height:30px;
    display:flex;
    flex-direction:row;
    border-bottom:5px double white;
}

.music-tabtextl, .music-tabtextr{
    width:50%;
    font-size:1.1em;

    display:flex;
    align-items: center;
    padding-left:5px;
    padding-right:5px;
}

.music-tabtextl{
    justify-content: flex-end;
    border-right:5px double white;
}

.music-screenshot{
    width:200px;
}


.music-mixCont{
    width:calc(100% - 40px);

    border:ridge;
    border-color: #dddddd;
    border-width: 10px;
    background-color: #dddddd;

    padding:10px;
    margin-top:50px;
    margin-bottom:50px;
}

.music-mixTitle{
    font-size:2em;
    font-weight:bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;

    padding:10px;
    padding-bottom:20px;
}

.music-mixCoverTracks{
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;

    margin-bottom:30px;
}

.music-mixCover{
    width:90%;
    padding-left:15px;
}

.music-mixTrackList{
    padding-left:10px;
}

.music-mixTrackDiscTitle{
    font-weight: bold;
    font-size:1.2em;
    padding-bottom: 5px;
}

.music-mixTrackList ul{
    list-style-position: inline;
    list-style-type: square;
    font-size:1.1em;
}

.music-mixTrackDivider{
    height:3px;
    margin-right: 40px;
    margin-top:10px;
}

.music-mixDesc{
    margin-bottom: 10px;
}

.music-mixParaph{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
}

.music-mixParaphItem{
    display:flex;
    flex-direction:column;
    align-items: center;

    margin:10px;
}

.music-mixParaphItem img{
    width:300px;
}

.music-mixParaphItem p{
    font-weight:bold;
    margin-top: 5px;
}













/* * ======= LINKS ======== */
/* * ======= LINKS ======== */
/* * ======= LINKS ======== */

#links-body{
    background-color: #000000;
    display:flex;
    
}

#links-main{
    width:800px;
    height:600px;

    margin:auto;
    margin-top:5%;

    border: solid #ffffff 40px;
    border-radius: 20px;

    background-image:url(assets/links/linksbricks.png);

    position: relative;
}


#links-countertop{
    height:200px;
    width:100%;
    position:absolute;
    bottom:0px;

    background-color: #bc8139;

    z-index: 15;

    display:flex;
    align-items: center;
    justify-content: center;
}

#links-textbox{
    width:90%;
    height:80%;

    background-color:black;
    border: solid white 5px;

    display:grid;
    grid-template-columns: 20px auto;

    color:white;
    font-size: 1.3em;

    padding:7px;
}

#links-gothere{
    width:90px;
    height:40px;

    color:rgb(128, 128, 128);

    background-color: #636363;

    display:flex;
    justify-content: center;
    align-items: center;

    position:absolute;
    right:43px;
    bottom:22px;

    pointer-events: none;
}

.links-gothereactive{
    background-color: #7e89ff !important;
    color:white !important;
    pointer-events: all !important;
}

#links-vendor{
    width:220px;
    position:absolute;
    left:5px;
    bottom:195px;

    z-index:13;

    filter:drop-shadow(5px 5px 5px black);
}

#links-updatefood{
    height:45px;
    position:absolute;
    left:244px;
    bottom:199px;

    z-index:13;

    filter:drop-shadow(5px 5px 5px black);
}

#links-updatecameo{
    height:150px;
    position:absolute;
    left:520px;
    bottom:10px;

    z-index:14;
    
    transform:translate(0px, 0px);

    filter:drop-shadow(5px 5px 5px black);
}

.links-interactable{
    cursor:pointer;
}

.links-interactable:hover{
    animation-name:links-wobble;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

@keyframes links-wobble{
    0%{transform:translate(0px, 0px)}
    1%{transform:translate(-1px, -1px)}
    25%{transform:translate(-1px, -1px)}
    26%{transform:translate(1px, -1px)}

    45%{transform:translate(1px, -1px)}
    46%{transform:translate(-1px, 1px)}

    65%{transform:translate(-1px, 1px)}
    66%{transform:translate(1px, 1px)}

    85%{transform:translate(1px, 1px)}
    86%{transform:translate(0px, 0px)}

    99%{transform:translate(-1px, -1px)}
    100%{transform:translate(0px, 0px)}
}

#links-shelf{
    height:200px;
    display:flex;
    flex-direction:column;

    position:absolute;

    filter:drop-shadow(5px 5px 5px black);
}

#links-shelfitems{
    display:flex;
    justify-content: space-around;
}

#links-shelfitem{
    height:100px;
}

#links-shelfbase{
    height:20px;
    width:100%;
    background-color: #bc8139;
}

#links-shelfsupports{
    display:flex;
    justify-content: space-around;
    
}

#links-shelfsupport{
    height:20px;
    width:10px;
    background-color: #bc8139;
}







/* ^ ============= CHANGELOG ============= */
/* ^ ============= CHANGELOG ============= */
/* ^ ============= CHANGELOG ============= */

#ccomp-body{
    height:100dvh;
    
    display: flex;

    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    background-color:#3d2e25;
    background-image:url(assets/changelog/changeback.gif);
    background-repeat: no-repeat;
    background-size:cover;

    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

#ccomp-cont{
    min-width:690px;
    width:60dvw;
    max-width:775px;

    height:90dvh;

    bottom:0;
    

    display:flex;
    flex-direction: column;
    align-items: flex-end;
}

#ccomp-cont div{
    margin-left:auto;
    margin-right:auto;
}

#ccomp-monitor{
    flex-shrink:0;
    width:80%;
    height:400px;

    background-color: grey;
    border-radius: 20px;

    display:flex;
    justify-content: center;
    align-items: center;
}

#ccomp-screen{
    height:360px;
    width:90%;

    background-color: black;

    padding-left:10px;
    
    display:flex;
    flex-direction: column-reverse;

    overflow:scroll;
    
    
}



#ccomp-text{
    
    color:yellow;
    font-size:1.2em;
    text-shadow: 0 0 4px yellow;
    margin-bottom:20px;

}

#ccomp-blinker{
    animation-name:blinker;
    animation-duration:2s;
    animation-iteration-count: infinite;
}

@keyframes blinker{
    0%{filter:opacity(100%)}
    1%{filter:opacity(0%)}
    50%{filter:opacity(0%)}
    51%{filter:opacity(100%)}
}

#ccomp-monitorstand{
    background-color: rgb(95, 95, 95);
    width:30%;
    height:50px;
}

#ccomp-monitorbase{
    background-color: rgb(95, 95, 95);
    width:70%;
    height:30px;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#ccomp-tabletop{
    width:90%;
    height:40px;

    background-color: burlywood;
}

#ccomp-tablelegcont{
    width:70%;
    height:100%;

    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#ccomp-tableleg{
    margin:0 !important;
    width:40px;
    height:100%;

    background-color: burlywood;
}

/* todo ====== EXTRAS ============= */
/* todo ====== EXTRAS ============= */
/* todo ====== EXTRAS ============= */

#ext-body{
    height:100dvh;
    background-image: url(assets/extras/extraback.png);
    background-color: #1e1815;
    background-size: 100dvw 100dvh;
}

#ext-dressertop{
    width:1000px;
    height:300px;

    position:absolute;
    transform: translate(-50%, -50%);
    left:50%;
    z-index:15;

    background-color: #745025;
}

#ext-drawercont{
    width:900px;
    height:650px;

    position:absolute;
    transform: translateX(-50%);
    left:50%;
    top:-435px;
    z-index:10;

}

#ext-drawerback{
    width:100%;
    height:600px;

    display:flex;
    justify-content: center;
    align-items: center;

    background-color: #5e411f;
}

#ext-drawerinner{
    width:95%;
    height:95%;
    background-color: #bc884a;

    box-shadow: inset 2px 2px 20px 10px #131313;
}

#ext-drawerhandle{
    display:block;
    width:40%;
    height:25px;

    transform: translateX(-50%);
    margin-left:50%;

    border: 20px solid;
    border-color:grey;

    border-top: none;

    cursor:pointer;

    transition: border-color 0.5s;
}

#ext-drawerhandle:hover{
    border-color:rgb(206, 206, 206);
}

.ext-draweritem{
    position:relative;
    filter:drop-shadow(2px 2px 2px rgb(0, 0, 0));
    transition: all 1s;
}

.ext-draweritem:hover{
    filter:saturate(150%) drop-shadow(2px 2px 2px rgb(0, 0, 0));
}

#ext-bbad{
    height:200px;

    bottom: -302px;
    left: 94px;
    rotate: -12deg;
}






/* * ========= BBAD!!! ============ */
/* * ========= BBAD!!! ============ */
/* * ========= BBAD!!! ============ */


#bbad-body{
    height:100dvh;
    background-color: yellow;
}

#bbad-main{
    min-width:790px;
    width:70dvw;
    max-width:875px;

    margin-left:auto;
    margin-right:auto;
}

.bbad-entrycont{
    border:solid #00502e 7px;

    margin-bottom: 40px;
}

.bbad-entry{
    background-color: #00502e;

    position: relative;

    border:solid white 7px;

    padding:10px;

    color:rgb(255, 255, 255);
}

.bbad-episodenumber{
    opacity: 50%;
    font-size:1.2em;
}

.bbad-datestamp{
    position: absolute;
    bottom: 10px;
    right:10px;

    opacity: 50%;

    text-align: right;
}


.bbad-entryheader{
    font-size:2.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;



    margin-bottom: 10px;
}

.bbad-maintext{
    font-size:1.2em;
    margin-bottom:20px;
}

.bbad-maintext ul{
    font-size:1.2em;
    margin-bottom:20px;
}

.bbad-screenshot{
    width:60%;

    display:block;
    margin-left:auto;
    margin-right:auto;
}


/* ! ======= CREDITS =========== */
/* ! ======= CREDITS =========== */
/* ! ======= CREDITS =========== */


#credits-body{
    height:100dvh;
    background-color: black;
}

#credits-main{
    min-width:790px;
    width:70dvw;
    max-width:875px;

    margin-left:auto;
    margin-right:auto;

    font-size:1.5em;

    font-family: Arial, Helvetica, sans-serif;
    color:white;

    display:flex;
    flex-direction: column;

    padding-bottom:300px;
    padding-top:100px;

    animation-name:credits-fadein;
    animation-duration:2s;
}


@keyframes credits-fadein{
    0%{filter:opacity(0%)}
    100%{filter:opacity(100%)}
}

#credits-head {
    font-size:2.5em;
    font-weight:bold;

    text-align: center;
    margin-bottom:30px;
}

#credits-subhead{
    font-size:1.8em;
    font-weight:bold;

    text-align: center;
    margin-top:45px;
    margin-bottom:45px;
}

#credits-entrycont{
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 40px;

    margin-bottom:30px;
}

#credits-entrytitle{
    font-weight: bold;
    text-align: right;
}

#credits-entrycredit{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    
}

.credits-link{
    color:#7e89ff;
}

.credits-link:visited{
    color:#ff7efd;
}



/* & ===== HISTORY ====== */
/* & ===== HISTORY ====== */
/* & ===== HISTORY ====== */


#history-body{
    min-height:100dvh;
    background-image: url(assets/history/spaceback.gif);
    
    
}

#history-main{
    min-width:790px;
    width:70dvw;
    max-width:875px;

    margin-left:auto;
    margin-right:auto;
    margin-top:40px;

    font-size:1.2em;
}

#history-main div{
    margin-top:20px;
    margin-bottom:10px;
}

#history-text1{
    background-color: #21033B;
    border-style: inset;
    border-width: thick;
    border-color: #200569;
    height: 100%;
    color: aquamarine;
    padding:10px;
}

#history-text1 a{
    color: aquamarine;
}

#history-cont1{
    margin-bottom:200px !important;
}

.history-fullimg{
    width:80%;

    display:block;
    margin-left:auto;
    margin-right:auto;
    margin-top:40px;
    margin-bottom:10px;
}

#history-textcont2{
    background-color: white;
    border: ridge;
    border-color: #c0c0c0;
    border-width: 10px;
    padding:10px;
}

#history-v2iconcont{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#history-cont2{
    margin-bottom:200px !important;
}


#history-text3{
    background-color: #fff5a4;
    border: ridge;
    border-color: #fff5a4;
    border-width: 10px;
    padding:10px;
    padding:10px;
    font-family: 'Brush Script MT', cursive;
}



/* ========= ABOUT ============ */
/* ========= ABOUT ============ */
/* ========= ABOUT ============ */

#about-main{
    width:10px;
    height:10px;

    position: fixed;

    top:calc(50dvh - 5px);
    left:calc(50dvw - 5px);

    background-color: #00ffff;
}

#about-body{
    background-color: brown;
    height:100dvh;
    background-image:url(assets/about/wood-back.png);
}

.about-idcard{
    display:grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px, auto;

    width:400px;
    height:250px;
    background-color: aquamarine;
    background-image: url(assets/about/id-back.png);

    font-family: Arial, Helvetica, sans-serif;

    border-radius: 25px;

    filter:drop-shadow(5px 5px 5px black);
}

.about-idimage{
    padding-left:20px;
    padding-top:20px;

    height:125px;

    filter:opacity(90%);
}

.about-idcardtopr{
    display:grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;

    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
}

.about-identryname{
    font-weight: bold;
}

.about-idcardbottom{
    grid-column-start:1;
    grid-column-end:3;

    display:flex;
    justify-content: space-around;
    align-items: center;

    background-color: rgb(111, 111, 111, 0.5);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.about-idsignature{
    height: 60px;
}

.about-idspacefiller{
    text-align:justify;
    font-weight:bold;
    font-size:1.3em;
}





#about-document{
    height: 900px;
    width: 700px;

    background-color:white;
    font-family: 'Courier New', Courier, monospace;

    filter:drop-shadow(5px 5px 5px black);

    position:absolute;

    bottom:-560px;
    right:-386px;
    rotate:1deg;

    z-index: 14;

    
}

#about-doctop{
    display:grid;
    grid-template-columns: 4fr 1fr;
    height:100px;

}

#about-docheadercont{
    margin-top:30px;
    margin-left:10px;
}

#about-docheader{
    display:flex;
    justify-content: space-between;
}

#about-docheadtext{
    font-size:1.1em;
    font-weight:bold;

    background-image: url(assets/about/textcliptest.png);
    background-clip:text;
    background-size: 50px;
    color:transparent;
}

#about-docseal{
    height:100px;

    margin-left:auto;
    margin-right:auto;
}

#about-docmain{
    padding-left:20px;
    padding-right:30px;

    background-image: url(assets/about/textcliptest.png);
    background-clip:text;
    color:transparent;
    background-size: 50px;
}

#about-docmainhead{
    font-size:1.2em;
    font-weight:bold;
    
}

#about-docmaintext{
    font-size:1.1em;
}

#about-docsubhead{
    font-size:1.1em;
    font-weight: bold;
}

#about-crazucard{
    position:absolute;

    bottom: 129px;
    right: 76px;
    rotate: -15deg;
    z-index: 15;
}

#about-otheronecard{
    position:absolute;

    bottom: -376px;
    right: -65px;
    rotate: 2deg;

    z-index: 15;
}

#about-updatecard{
    position: absolute;
  bottom: -383px;
  right: -363px;
  rotate: -7deg;

    z-index: 16;
}
